{% extends 'base.html.twig' %}

{% block title %}Hello ApiMainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="example-wrapper">


        <h1>Hello In OpenData Api  ✅</h1>

        Comme nous le savons tous que la ville de Paris possède plein des solutions informatiques et leur permet de récupérer un grand nombre d’informations sur la ville en lien avec pleine d'organisation public (l’éclairage publique, les transports en commun …etc.)
        Toutes les données de ces différentes solutions sont réceptionnées par une seule application qui s’occupe de convertir tous ces jeux de données en fichier CSV*. Une fois les données converties, l’application les insère dans une base de données
        <br>
        <br>
        <br>
        <img src="https://image.freepik.com/free-vector/api-application-program-interface_9233-249.jpg" class="img-fluid" alt="..." />

    </div>
{% endblock %}
